/** Icons **/
.icon {
    display: inline-block;
    height: 38px;
    width: 38px;
    margin: 0 5px;
    background-position: center;
    background-repeat: no-repeat;
}
.action-ico {
    padding-left: 10px;
}
.social-ico {
    padding-right: 20px;
}
.action-ico .icon {
    margin: 0 10px;
}
.facebook-ico {
    background-image: url("../img/facebook.png");
}
.twitter-ico {
    background-image: url("../img/twitter.png");
}
.linkedin-ico {
    background-image: url("../img/linkedin.png");
}
.grayscale-ico {
    background-image: url("../img/grayscale.png");
}
.fullscreen-ico {
    background-image: url("../img/full_screen.png");
}
.run-ico {
    background-image: url("../img/autoscroll.png");
}
.stop-ico {
    background-image: url("../img/pause.png");
}
.totop-ico {
    background-image: url("../img/totop.png");
}
.facebook-ico:hover {
    background-image: url("../img/facebook_hover.png");
}
.twitter-ico:hover {
    background-image: url("../img/twitter_hover.png");
}
.linkedin-ico:hover {
    background-image: url("../img/linkedin_hover.png");
}
.grayscale-ico:hover {
    background-image: url("../img/grayscale_hover.png");
}
.fullscreen-ico:hover {
    background-image: url("../img/full_screen _hover.png");
}
.facebook-mobile-ico {
    background-image: url("../img/facebook_mobile.png");
}
.twitter-mobile-ico {
    background-image: url("../img/twitter_mobile.png");
}
.linkedin-mobile-ico {
    background-image: url("../img/linkedin_mobile.png");
}
.facebook-mobile-ico:hover {
    background-image: url("../img/facebook_mobile_hover.png");
}
.twitter-mobile-ico:hover {
    background-image: url("../img/twitter_mobile_hover.png");
}
.linkedin-mobile-ico:hover {
    background-image: url("../img/linkedin_mobile_hover.png");
}
.run-ico:hover {
    background-image: url("../img/autoscroll_hover.png");
}
.stop-ico:hover {
    background-image: url("../img/pause_hover.png");
}
.totop-ico:hover {
    background-image: url("../img/totop_hover.png");
}

/** Layout **/
@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1140px;
    }
    footer .container-fluid {
        max-width: 100%;
    }
}
@media (max-width: 575px) {
    .section-content {
        padding: 0 20px;
    }
    #footer-float .container-fluid {
        padding: 0 30px;
    }
}

/** Header, Footer **/
#header, #header-float, footer, #footer-float {
    position:fixed;
    height: 80px;
    display:block;
    width: 100%;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
}

/** Header **/
.admin-bar #header {
    top: 32px;
}
#header, #header-float {
    top: 0;
}
#header .border, #header-float .border {
    height: 2px;
    background-color: rgb(128,138,199);
    opacity: 0.3;
}

/** Footer **/
footer, #footer-float {
    bottom: 0;
    background: #EEF0F4;
    color: #808ac7;
}
footer {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
footer .scroll-bar, footer .social-ico, footer .action-ico {
    padding-top: 21px;
    height: 80px;
}
footer .social-ico {
    border-right: 1px solid #7D8BCA;
    text-align: right;
}
footer .scroll-bar {
    text-align: left;
}
@media (max-width: 767px) {
    footer {
        height: 140px;
    }
    footer .social-ico, footer .action-ico {
        padding-top: 0;
        height: 80px;
    }
    footer .social-ico {
        border-right: none;
    }
}

/** Footer float **/
#footer-float {
    height: 144px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#footer-float .scroll-bar {
    padding-top: 22px;
}

/** Icons Container **/
.icons > div {
    display: inline-block;
    float: right;
}
.icons .design-by-container {
    display: none;
}
.icons .design-by-container {
    margin-right: 25px;
    padding-top: 21px;
    line-height: 38px;
}
@media (max-width: 1199px) and (min-width: 768px) {
    .icons .design-by-container span {
        display: none;
    }
}
@media (max-width: 767px) {
    .icons .design-by-container {
        padding-top: 0;
        float: left;
    }
}

/** Mobile Icons Container **/
.mobile-icons {
    padding-top: 15px;
    line-height: 58px;
}
.mobile-icons > div {
    display: inline-block;
    float: left;
}
.mobile-icons .mobile-icons-container {
    float: right;
}
.mobile-icons-container div.social-ico {
    padding-right: 5px;
}
.mobile-icon {
    display: inline-block;
    height: 58px;
    width: 58px;
    margin: 0 0 0 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.icons-container div {
    float: right;
}


/** Logo **/
#logo-container-sm {
    position: relative;
    height: 80px;
}
#logo-container-sm img {
    position: absolute;
    left: 0;
    top: -200px;
    height: 48px;
}
#logo-container-mobile {
    position: relative;
    height: 80px;
}
#logo-container-mobile img {
    position: absolute;
    left: 0;
    top: 22px;
    height: 36px;
}

/** Navigation menu **/
.primary-menu {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.primary-menu li {
    display: inline;
}
.primary-menu li a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.12rem;
    line-height: 40px;
}
@media (max-width: 767px) {
    .primary-menu li {
        display: block;
        float: left;
        width: 33.33%;
    }
    .primary-menu li a {
        display: inline-block;
        padding: 10px 15px;
        line-height: 40px;
    }
}
@media (max-width: 575px) {
    .primary-menu li a {
        font-size: 1rem;
        font-weight: 500;
    }
}

/** Typo **/
h1 {
    margin-bottom: 20px;
    font-weight: 900;
    line-height: 4rem;
    letter-spacing: 0.12rem;
    color: #4d4d4d;
}
p {
    font-size: 1.13rem;
    font-weight: 400;
    color: #4d4d4d;
    line-height: 1.69rem;
    letter-spacing: 0;
}
.pre-header, .sub-header {
    margin-bottom: 10px;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.38rem;
    color: #4d4d4d;
    font-weight: 700;
    line-height: 1.88rem;
}
.remark {
    display: block;
    text-align: center;
    font-size: 1rem;
    color: #6d6d77;
    line-height: 1.5rem;
}
.text-color-primary {
    color: #808AC7;
}
.text-regular {
    font-weight: 400;
}
.text-medium {
    font-weight: 500;
}
.text-bold {
    font-weight: 700;
}
.text-black {
    font-weight: 900;
}
@media (max-width: 575px) {
    h1 {
        font-size: 2rem;
        line-height: 2.6rem;
    }
}

/** Images **/
.ico-container {
    margin: 0 auto 40px;
    width: 150px;
    height: 150px;
    height: auto;
}

.testimonials-box .ico-container {
    margin-top: 0;
    margin-bottom: 25px;
    height: 100px;
    width: 100px;
}

.featured-box .ico-container {
    margin-top: 0;
    height: 110px;
    width: 110px;
}

.ico-container img {
    max-width: 100%;
    max-height: 100%;
}

/** Buttons **/
.btn {
    font-size: 2rem;
    line-height: 5rem;
}
@media (max-width: 575px) {
    .btn-block {
        width: 307px;
        margin: 0 auto;
    }
}

/** Lists **/
.inline-counter {
    counter-reset: step-counter;
    margin-left: 0;
    padding: 0;
}
.inline-counter li {
    position: relative;
    margin:0 0 40px 90px;
    list-style-type: none;
    line-height: 1.69rem;
}
.inline-counter li::before {
    content: counter(step-counter, decimal-leading-zero);
    counter-increment: step-counter;

    position: absolute;
    top: 10px;
    left:-90px;
    width: 50px;
    text-align:center;
}
.inline-counter li:last-child {
    margin-bottom: 0;
}
.num, .inline-counter li::before {
    font-size: 3rem;
    font-weight: 900;
    color: #808ac7;
}
@media (max-width: 575px) {
    .inline-counter li {
        margin-left: 0;
    }
    .inline-counter li::before {
        position: static;
        display: block;
        margin-bottom: 15px;
        width: 100%;
    }
}

/* Inline list */
.inline-list .list-item {
    position: relative;
    padding-left: 90px;
    margin-bottom: 40px;
}
.inline-list .list-item:last-child {
    margin-bottom: 0;
}
.inline-list .num {
    position: absolute;
    top: -0.75rem;
    left: 0;
}
@media (max-width: 575px) {
    .num {
        margin-bottom: 0;
        line-height: 1;
    }
    .list-item {
        margin-bottom: 30px;
    }
    .inline-list .list-item {
        padding-left: 0;
    }
    .inline-list .num {
        position: static;
        display: block;
        width: 100%;
    }
}

@media(min-width: 992px) {
    .block-list > div:nth-child(3n+1) {
        clear: left;
    }
    .block-list > div:nth-child(3):after {
        content: "";
        margin-bottom: 60px;
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    .block-list > div:nth-child(2n+1) {
        clear: left;
    }
}
@media (max-width: 767px) {
    .num, .block-list .sub-header {
        text-align: center;
    }
}

/** Forms **/
label {
    font-size: 0.75rem;
}
.form-input-container {
    margin-bottom: 70px;
}
.pseudo-table {
    width: 100%;
    display: table;
}
label {
    display: table-header-group;
}

input {
    display: table-row-group;
}
input:focus {
    padding-bottom: .4375rem;
}
input:focus + label {
    color: #3fa9f5;
}

/** Scroll Progress **/
.scroll-progress-container {
    height: 38px;
    padding-left: 75px;
    padding-right: 25px;
    position: relative;
}
#autoplay, #autoplay-mobile {
    position: absolute;
    left: 0;
    margin: 0;
    cursor: pointer;
}

#footer-float .scroll-progress-container {
    height: 38px;
    padding-left: 70px;
    position: relative;
}

/** NoUI **/
#slider-container .noUi-horizontal {
    display: inline-block;
    width: 100%;
    margin-top: 17px;
    height: 4px;
}
#slider-container .noUi-target {
    border: none;
    box-shadow: none;
    background: #B8C6EE;
}
#slider-container .noUi-base {
    cursor: e-resize;
}
#slider-container .noUi-connect {
    cursor: w-resize;
    box-shadow: none;
    background: #808AC7;
}
#slider-container .noUi-horizontal .noUi-handle {
    height: 38px;
    width: 38px;
    top: -18px;
    left: -19px;
    border: none;
    box-shadow: none;
    background: url("../img/indicator.png") no-repeat center;
    cursor: pointer;
}
#slider-container .noUi-horizontal .noUi-handle:hover {
    background: url("../img/indicator_hover.png") no-repeat center;
}
#slider-container .noUi-handle:before, #slider-container .noUi-handle:after {
    display: none;
}

/** Sections **/
/*.fp-responsive .fp-section,*/
/*.fp-responsive .fp-slide,*/
/*.fp-responsive .fp-tableCell{*/
    /*height: auto !important;*/
/*}*/
.section {
    background-color: #fff;
}
.section-container {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-content {
    margin-bottom: 80px;
}

@media (max-width: 575px) {
    .section-container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

/** Intro section **/
#intro .section-container {
    padding-top: 95px;
}
#intro #logo-container-lg {
    margin-bottom: 40px;
}
#intro h1 {
    margin-bottom: 80px;
    font-size: 7.5rem;
    font-weight: 700;
    color: #808ac7;
    line-height: 8rem;
}
#intro .pre-header {
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 900;
    color: #808ac7;
    line-height: 4rem;
}
#intro p {
    line-height: 2rem;
}

@media (min-width: 576px) {
    #intro {
        background-image: url("../img/background.png");
    }
}

@media (max-width: 767px) {
    #intro h1, #intro .pre-header {
        text-align: center;
    }
}

/** Benefits section **/
#benefits h1 {
    margin-bottom: 40px;
}

/** Testimonials section **/
#testimonials h1 {
    margin-bottom: 60px;
}
.testimonial-content {
    margin-bottom: 45px;
}

/** Feedback section **/
#benefits .section-content, #feedback .section-content, #howto .section-content {
    margin-bottom: 0;
}
#feedback .section-container {
    padding-top: 140px;
    padding-bottom: 140px;
}
#feedback h1 {
    margin-bottom: 40px;
}
#feedback .ico-container {
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    #testimonials .section-content {
        margin-bottom: 70px;
    }
    .testimonials-box {
        margin-bottom: 40px;
    }
    .testimonial-content {
        margin-bottom: 0;
    }
}

@media (min-width: 576px) {
    #feedback {
        background-image: url("../img/background.png");
    }
    #feedback .section-container-inner {
        background-color: #fff;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
    }
}
